.search-box {
    margin: 25px 0;
}

.search-box form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.error {
    width: 100%;
    color: crimson;
    margin-top: 12px;
    font-size: 18px;
    font-weight: bold;
} 

